absl-py
altgraph
arrow
attrs
babel
certifi
charset-normalizer
customtkinter
darkdetect
et_xmlfile
icalendar
ics
idna
immutabledict
numpy
openpyxl
ortools
packaging
pandas
pefile
protobuf
pyinstaller
pyinstaller-hooks-contrib
python-dateutil
pytz
pywin32-ctypes
recurring-ical-events
requests
six
TatSu
tkcalendar
types-python-dateutil
tzdata
urllib3
x-wr-timezone
XlsxWriter
